body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  color: #2C2C2C;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

input {
  border: none;
  font-family: inherit;
  font-size: 18px;
}
textarea:focus, input:focus{
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

span:empty:before {
  content: "\200b"; /* Fill span with unicode zero width space character */
}
